.button {
    display: flex;
    justify-content: right;
    align-items: center;
    /* flex-grow: 1; */
}

.button_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.055);
    transition: ease-in-out 0.2s;
}

.button_cart:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.cart {
    position: relative;
    left: 10px;
    width: 45px;
    height: 45px;
}

.badge {
    position: relative;
    display: inline-block;
    right: 10px;
    bottom: 15px;
    background-color: rgba(255, 132, 61, 0.945);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    flex-shrink: 0;
}